body {
    /*overflow: hidden;*/
}

canvas {
    background-color: darkgrey;
}

.container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
    'header header header'
    'sidebar-left display sidebar-right';
    max-height: 100%;
}

.header {
    grid-area: header;
}

#display {
    max-width: 100%;
    grid-area: display;
    object-fit: contain;
}

#sidebar-left-content {
    display: flex;
    flex-wrap: wrap;
}

#sidebar-left {
    grid-area: sidebar-left;
}
#sidebar-right {
    grid-area: sidebar-right;
}

.tiling-image {
    max-width: 10%;
    object-fit: contain;
}